<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    

    <title>Gallery</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    
    


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SLEOARAO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index">Index</a></li>
            <li class="active"><a href="#">Gallery</a></li>
            <li><a href="#about">About</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="innav">
      <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Sleoarao</a></li>

        <li class="active">Gallery</li>
      </ol>
      </div>
    </div>

    <div class="container">
      <div class="gallery">
      <div class="row">
      
       <div class="col-md-9">
      {% for i in item %}
        <div class="col-md-4">
         {% for p in i %}
         <div class="collum">
         <div class="thumbnail">
         
          <a class="imglink" href="/gallery/items/{{ p.id }}/">
           <div class="indeximgmask">

            <img class="indeximgclass" src="{{ p.imgtrans }}" alt="{{ p.name }}">

           </div>
          </a>
          
           <div class="caption">
             <h4>{{ p.name }}</h4>
           </div>
           
         </div><!--/.thumbnail-->
         </div>
         {% endfor %}
        </div><!--/.col-md-3-->
      {% endfor %}
       </div><!--/.col-md-9-->

       <div class="col-md-2">
         <div class="panel-body">
	  <h3>SLEOARAO</h3>
          <p>关于相册的介绍</p>
         </div>	  
       </div><!--/.col-md-2-->
      </div><!--/.row-->
      </div><!--/.gallery-->


      
      
      <footer class='bottom'>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>2015 Sleoarao  <a href="#about">About</a> · <a href="#">Terms</a></p>
      </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  

</body></html>
